@font-face {
    font-family: 'blackjackregular';
    src: url('../fonts/black_jack.ttf') format('truetype');
}

@font-face{
	font-family: 'quicksand';
	src: url('../fonts/quicksandlight.otf') format('truetype');
}

@font-face{
	font-family: 'goudytrajan';
	src: url('../fonts/goudytrajan.otf') format('truetype');
}

@font-face{
	font-family: 'quicksand-regular';
	src: url('../fonts/quicksand-regular.otf') format('truetype');
}

h1{
	text-align: center;
	font:50px 'goudytrajan', Arial, sans-serif;
}

h2{
	text-indent: 30px;
	font:30px 'goudytrajan', Arial, Times;
}

h3{
    text-indent:30px;
    font:20px 'quicksand-regular', Arial, Times;
}

p{
	font-family: 'quicksand';
}

